404.html
action-page.html
archive-action-page.html
archive-portfolio.html
archive-portfolio.html
archive-product.html
contacts.html
index.html
single-product.html

img/*
!img/ico/
!img/order-left-gradient-section-bg-two.jpg

js/*
!js/bootstrap.bundle.min.js
!js/gallery.js

css/*
!css/bootstrap.min.css
!css/font.css
!css/root.css
!css/about.css
!css/single-images.css